<a href = '/'>Back</a>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<div class="container cyan lighten-5">
  <h1>Courses Offered</h1>
  <table>
    <thead>
      <th>Info</th>
      <th>Course Name</th>
    </thead>
    <tbody>
      <% courses.forEach( function(course) { %>
        <% var url = '/courses/' + course.id %>
        <tr>
          <td><a href = <%= url %>> Info </a></td>
          <td> <%= course.name %></td>
        </tr>
        <%}); %>
    </tbody>
  </table>
</div>